body{font-family: 'Rubik', sans-serif;
        margin: 0;
}
h1{font-size: 50px;
    font-weight: bolder;
}
h2{font-size: 35px;}
.orange-colored{color: orange;}
.first-heading-color{color: rgb(78, 76, 76);}
.heading-text{color: gray;
            font-size: 20px;
}
.flexible-container{display: flex;
                   
}
section{ margin-bottom: 90px;}
.padding{padding-left: 7%;
        padding-top: 7%;  
        padding-right:3%;      
}
.half-width{width: 50%;}
.top-padding{padding-top: 10%;}

.half-width img{width: 100%;}
.link-button{text-decoration: none;
            background-image: linear-gradient(orange,tomato);
            color: white;
            font-size: 20;
            font-weight:500;
            padding: 20px 30px;
            border-radius: 50px;
            margin-top: 50px;
            box-shadow: 10px 10px 20px rgb(248, 214, 151);
}
#width-image{width: 50%;}
#left-margin{margin-left: 100px;}
#right-margin{margin-right: 70px;}
#about-background{background-image: url(images/Frame\ 58.jpg);
                
}
p{font-size: 20px;}
.text-allignment{text-align: center;}
.div-image-width{width:40%;
                box-shadow: 10px 10px 30px gray;
                border-radius: 5%;
                
                margin-left: 20px;
                margin-right: 10px;
                margin-top: 5px;
}
.image-width{width: 30%;
            padding: 10px;
}

.i{width: 90%;
    height:50%;
}
footer{text-align: center;
        background-color: black;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 70px;
}
footer p{color: cornsilk;
        font-size: 20px;
        
}